
* {
    font-family: Arial, serif;
}

body {
    margin: 0;
}

ul li {
    list-style-type: none;
    font-size: 24px;
    font-family: Roboto, serif;
    font-weight: bold;
    margin-top: 1rem;
}

li img {
    margin-right: 1rem;
    width: 30px;
}

ul {
    margin-right: 5rem;
    margin-top: 2rem;
}

#dashboard-img{
    width: 65px;
}

#dashboard-txt {
    position: relative;
    top: -66px;
    left: 65px;
}

label, input {
    width: 100%;
}

input {
    height: 2rem;
}

#container {
    /*height: 100%;*/
    display: grid; /* 2 x 2 */
    grid-template-areas:
            "aside header"
            "aside main";
}

#aside-left {
    grid-area: aside;
    background-color: dodgerblue;
}

header {
    height: 50%;
    margin: 2rem 4rem 0 4rem;
    display: grid; /* 2 x 2 */
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#header-top-left, #header-top-right, #header-bottom-right{
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#header-top-right {
    justify-content: end;
    gap: 3.5rem;
}

#header-bottom-right {
    justify-content: end;
    gap: 2rem;
}

#header-bottom-left {
    height: 5rem;
}

#header-search-input {
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgray;
}

#header-txt {
    margin: 0;
    width: 50%;
    position: relative;
    bottom: 5.7rem;
    left: 6rem;
}

#header-search-icon, #header-notification-img {
    width:25px;
    height: 25px;
}

#header-search-icon {
    margin-right: 1rem;
}

#header-username {
    margin: 0;
}

#profile-pic-mini {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#header-profile-pic {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

button {
    font-size: 20px;
    width: 8rem;
    height: 2.5rem;
    background-color: dodgerblue;
    border: 2px solid dodgerblue;
    border-radius: 1rem;
}

main {
    grid-area: main;
    background-color: lightgray;

    display: grid;
    grid-template-columns: 2fr 1fr;
}

#your-projects-txt {
    grid-area: 1 / 1;
    position: relative;
    margin: 2rem;
    bottom: 1rem;
}

#projects {
    grid-area: 1 / 1;
    margin: 4rem 2rem 2rem;
    display: grid;
    gap: 25px; /* 3 x 2 */
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: 50%;
}

#projects > div, #aside-right > div, #trending > div {
    border-radius: 5px;
    background-color: white;
}

#projects > div {
    border-left: 5px solid orange;
    padding: 1rem;
}

.project-icons > img {
    position: relative;
    left: 72%;
    top: 0.5rem;
    width: 25px;
    margin: 5px;
    height: 25px;
}

.project:nth-child(4) img {
    position: relative;
    left: 72%;
    top: 2.5rem;
}


#aside-right {
    display: grid;
    gap: 10px; /* 3 x 1 */
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    margin: -1rem 2rem 2rem;
    height: 60%;
}


#announcements > div {
    border-bottom: 1px solid gray;
    padding: 1rem;
}

#trending {
    display: grid;
    margin-top: 1rem;
}

#trending > div{
    padding: 1rem;
}

#trending-txt {
    position: relative;
    top: 2rem;
}
#announcements-txt {
    position: relative;
    bottom: -1rem;
}
